header {
    display: flex;
    width: 1000px;
    text-align: center;
}

body {
    display: flex;
    padding: 10;
    text-align: center;
    flex-direction: row;
    padding: 2c0px;
}

body button {
    font-size: 24px;
    background-color: #DD4A54;
    color: #CDD820;
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 7px;
    margin-bottom: 20px;
}

#game-board {
    float: left;
    width: 800px;
    padding: 20px 0px;
    padding-top: 10px;
}

.game-intro {
    float: right;
    padding-top: 10px;
    width: 220px;
    margin-top: 100px;
    align-content: right;

}

#game-logo {
    display: flex;
    width: 300px;
}

#game-menu {
    display: flex;
    width: 300px;
}

.game-intro p {
    font-size: 18px;
    font-family: "Arial";
}

.logo-img {
    width: 150px;
}

.arrows-img {
    width: 150px;
};