body {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 5vw;
  width: 1350px;
}

nav > img {
  width: 7vw;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 14px;
}

nav > ul {
  display: flex;
  width: 13vw;
}
nav > ul > li {
  background-color:#DE4A54;
  color: whitesmoke;
  font: arial;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  border: 2;
  margin-bottom: 15px;
  margin-right: 15px;
}

#title {
  background-color: #DE4A54;
  display: flex;
  /* width: 1350px;   */
}

#title > div {
  width: 1350px;
}

.start-screen {
height: 700px;}

#start-button {
  width: 200px
}
/* 
.rotate {
  transform: rotate(180deg);
} */