body {
  width: 1423px;
}

nav {
  background-color: #F7AA1C ;
  display: inline-block;
  text-align: left;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 7vw;
  width: 1423px;
}

nav > span {
  float: right;
  padding: 26px;
  font-family: fantasy;
  font-size: 40px;
  margin-right: 54px;
  color: #42BAA4;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  /* margin-left: 80px; */

}

nav > img {
  width: 6vw;
  margin-left: 12px;
  padding: 14px;
  
}

#title {
  display: flex;
  height: 700px;
  background-color: #EC1669;
}

#title > div {
  width: 1423px;
}

#left-div {
  width: 650px;
  margin-top: 90px;
  text-align: center;
}

#right-div {
  width: 650px;
  margin-top: 150px;
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: #42BAA4;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#right-div > p + p {
  margin-top: 10px;;
}

#start-button {
  width: 200px
}